<div>
    <h2>Login</h2>
    <div>
      <form #logind="ngForm" (ngSubmit)="login(logind.value)">
        <label for="email">Email</label><br />
        <input
          type="email"
          name="email"
          ngModel
          placeholder="Enter Your Email"
          required
        /><br /><br />
  
        <label for="password">Password</label><br />
        <input
          type="password"
          name="password"
          ngModel
          placeholder="Enter Your Password"
          required
        />
        <br /><br />
        
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  