<h3 class=" Heading">Reset password</h3>
<div class="forgot-Pass">
    <p class="error-message">{{errmsg}}</p>
    <form #forgotpass="ngForm" (ngSubmit)="forgot(forgotpass.value)">
      <label for="email">Email</label><br />
      <input type="email" name="email" ngModel placeholder="Enter Email" required /><br /><br />
      <label for="password">New Password</label><br />
      <input type="password" name="newpassword" ngModel placeholder="Enter New Password" required />
      <br /><br />
      <label for="cnfpassword">Confirm New Password</label><br />
      <input type="password" name="cnfnewpassword" ngModel placeholder="Re-enter New Password" required />
      <br /><br />
      <button type="submit">Submit</button>
    </form>
    <div><a class="backtologin" routerLink="/login">Back to Login</a></div>
</div>