<div class="full-page-container">
  <div class="container mt-4">
    <h2>Shopping Cart</h2>
    <div class="cart-layout" *ngIf="cartdata.length > 0">
      
      <div class="cart-items">
        <ul class="list-group mb-4">
          <li *ngFor="let item of cartdata; let i = index" class="list-group-item d-flex justify-content-between align-items-center"> 
            <!-- Checkbox to select individual items -->
            <input 
            type="checkbox" 
            [(ngModel)]="item.isSelected" 
            (change)="toggleselected(item, $event)">  
            <div class="product-info d-flex align-items-center">
              <img [src]="item.ProductImageurl" alt="{{ item.name }}" class="product-image" />
              <div class="product-details">
                <h5>{{ item.name }}</h5>
                <p>Price: {{ item.price | currency:'INR' }}</p>
                <p>Quantity: {{ products[i]?.quantity }}</p>
              </div>
            </div>
            <div>
              <span class="badge bg-primary rounded-pill">
                Total: {{ item.price * products[i]?.quantity | currency:'INR' }}
              </span>
            </div>
          </li>
        </ul>
      </div>
      
      <!-- Checkout Summary Section (25%) -->
      <div class="checkout-summary">
        <app-summery></app-summery>
      </div>
    </div>
    
    <!-- Empty Cart Message -->
    <div *ngIf="cartdata.length == 0" class="empty">
      <h5 class="heading">Cart is Empty !! </h5>
      <p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ebsLuM_xgMT6MV68amyd76o2tLr0l8qq-g&s" alt="Empty cart">
      </p>
    </div>
  </div>
</div>
