<h2>Payment</h2>

<div>
    <h4>Payment Option</h4>
    <div class="address-item" *ngFor="let option of paymentoptions; let i=index" >
        <input 
        type="radio" 
        name="options" 
        [value]="option" 
        [(ngModel)]="selectedpaymentoption"
        [checked]="selectedpaymentoption === option"
        (change)="onSelectionChange(option)"
        />
        <label for="address1">
          <p class="address-section" >
            {{ option }}
          </p>
        </label>
      </div>
    

    
</div>