<!-- <app-progress-bar></app-progress-bar> -->

<h2 class="section-title">Delivery Address</h2>

<div class="address-container" *ngIf="addresses.length>0" >
  <div class="address-item" *ngFor="let option of addresses; let i=index">
    <input 

    type="radio" 
    name="options" 
    [value]="option" 
    [(ngModel)]="selectedAddress"
    [checked]="i === 0"
    (change)="onSelectionChange(option)"
    />
    <label for="address1">
      <p class="address-section">
        {{ option }}
      </p>
    </label>
  </div>

  <span class="deliver">
    <a 
      routerLink="/payment" 
      class="deliver-link" 
      [class.disabled]="!selectedAddress" 
      [attr.disabled]="!selectedAddress ? true : null"
    >
      Deliver Here
    </a>
  </span>

</div>
<div class="add-new-address">
  <a routerLink="/editaddress" class="change-address-link">Add New Address →</a>
</div>
